<h1>Editing Cambio Comision Revisora Registro</h1>

<%= render 'form', cambio_comision_revisora_registro: @cambio_comision_revisora_registro %>

<%= link_to 'Mostrar', @cambio_comision_revisora_registro %> |
<%= link_to 'Back', cambio_comision_revisora_registros_path %>
