<h1>Editing Revocacion Baja Registro</h1>

<%= render 'form', revocacion_baja_registro: @revocacion_baja_registro %>

<%= link_to 'Show', @revocacion_baja_registro %> |
<%= link_to 'Back', revocacion_baja_registros_path %>
