<h1>Editing Baja Temporal Registro</h1>

<%= render 'form', baja_temporal_registro: @baja_temporal_registro %>

<%= link_to 'Mostrar', @baja_temporal_registro %> |
<%= link_to 'Regresar', baja_temporal_registros_path %>
