<h1>Editing Cambio Comite Tutorial Registro</h1>

<%= render 'form', cambio_comite_tutorial_registro: @cambio_comite_tutorial_registro %>

<%= link_to 'Mostrar', @cambio_comite_tutorial_registro %> |
<%= link_to 'Regresar', cambio_comite_tutorial_registros_path %>
