<h1>Editing Agregar Asignatura Registro</h1>

<%= render 'form', agregar_asignatura_registro: @agregar_asignatura_registro %>

<%= link_to 'Mostrar', @agregar_asignatura_registro %> |
<%= link_to 'Regresar', agregar_asignatura_registros_path %>
