<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tema_tesis_registro.nombre %>
</p>

<%= link_to 'Edit', edit_tema_tesis_registro_path(@tema_tesis_registro) %> |
<%= link_to 'Back', tema_tesis_registros_path %>
