<h1>Editing Solicitud Programa Movilidad Registro</h1>

<%= render 'form', solicitud_programa_movilidad_registro: @solicitud_programa_movilidad_registro %>

<%= link_to 'Mostrar', @solicitud_programa_movilidad_registro %> |
<%= link_to 'Regresar', solicitud_programa_movilidad_registros_path %>
