<% if @alumno.present? %>
  <% if @casos_alumno.present? %>
  <div class="card">
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name" rowspan="2">Solicitud</th>
          <th scope="col" class="sort" data-sort="budget" rowspan="2">Fecha de solicitud</th>
          <th scope="col" class="sort" data-sort="status" colspan="3" style="text-align:center;">Validación</th>
          <th scope="col" class="sort" data-sort="completion" rowspan="2">Integración a minuta</th>
        </tr>
        <tr>
          <th>Cuerpo académico</th>
          <th>Ansuntos escolares</th>
          <th>Colegio de profesores</th>
        </tr>
      </thead>
      <tbody class="list">
        <% @casos_alumno.each do |caso| %>
        <tr>
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="name mb-0 text-sm"><%= caso.tipo_caso.nombre %></span>
              </div>
            </div>
          </th>
          <td>
            <span class="badge badge-dot mr-4">
              <span class="status"><%= caso.creado %></span>
            </span>
          </td>
          <td style="text-align:center;">
            <span class="badge badge-dot mr-4">
              <% if caso.validacion_cuerpo_academico == false %>
                <div class="btn-warning btn-circle btn-sm" align="center">
                  <i class="fas fa-clock"></i>
                </div>
              <% else %>
                <div class="btn-success btn-circle btn-sm" align="center">
                  <i class="fas fa-check"></i>
                </div>
              <% end %>
            </span>
          </td>
          <td style="text-align:center;">
            <span class="badge badge-dot mr-4">
              <% if caso.validacion_asuntos_escolares == false %>
              <i class="bg-warning"></i>
              <span class="status">Pendiente</span>
              <% else %>
              <div class="btn-success btn-circle btn-sm" align="center">
                <i class="fas fa-check"></i>
              </div>
              <% end %>
            </span>
          </td>
          <td style="text-align:center;">
            <span class="badge badge-dot mr-4">
              <% if caso.validacion_colegio_profesores == false %>
              <i class="bg-warning"></i>
              <span class="status">Pendiente</span>
              <% else %>
              <div class="btn-success btn-circle btn-sm" align="center">
                <i class="fas fa-check"></i>
              </div>
              <% end %>
            </span>
          </td>
          <td style="text-align:center;">
            <% if caso.validacion_cuerpo_academico == false && caso.validacion_asuntos_escolares == false && caso.validacion_colegio_profesores == false %>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <% elsif caso.validacion_cuerpo_academico == true && caso.validacion_asuntos_escolares == false && caso.validacion_colegio_profesores == false %>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <% elsif caso.validacion_cuerpo_academico == true && caso.validacion_asuntos_escolares == true && caso.validacion_colegio_profesores == false %>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <% elsif caso.validacion_cuerpo_academico == true && caso.validacion_asuntos_escolares == true && caso.validacion_colegio_profesores == true %>
            <div class="btn-success btn-circle btn-sm" align="center">
              <i class="fas fa-flag"></i>
            </div>
            <% else %>
            <div class="btn-warning btn-circle btn-sm" align="center">
              <i class="fas fa-clock"></i>
            </div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
  <% end %>
  <% else %>
   <%= link_to 'Antes de continuar captura tu boleta, CVU y programa', new_alumno_path, class:"btn btn-info btn-lg btn-block"%>
<% end %>
