<h1>Editing Comite Tutorial Registro</h1>

<%= render 'form', comite_tutorial_registro: @comite_tutorial_registro %>

<%= link_to 'Mostrar', @comite_tutorial_registro %> |
<%= link_to 'Regresar', comite_tutorial_registros_path %>
