<h1>Editing Cambio Director Tesis Registro</h1>

<%= render 'form', cambio_director_tesis_registro: @cambio_director_tesis_registro %>

<%= link_to 'Show', @cambio_director_tesis_registro %> |
<%= link_to 'Back', cambio_director_tesis_registros_path %>
