<h1>Editing Cambio Director Tesis Registro</h1>

<%= render 'form', cambio_director_tesis_registro: @cambio_director_tesis_registro %>

<%= link_to 'Mostrar', @cambio_director_tesis_registro %> |
<%= link_to 'Regresar', cambio_director_tesis_registros_path %>
