<h1>Editing Cambio Tema Tesis Registro</h1>

<%= render 'form', cambio_tema_tesis_registro: @cambio_tema_tesis_registro %>

<%= link_to 'Mostrar', @cambio_tema_tesis_registro %> |
<%= link_to 'Back', cambio_tema_tesis_registros_path %>
