<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_usuario.nombre %>
</p>

<%= link_to 'Editar', edit_tipo_usuario_path(@tipo_usuario) %> |
<%= link_to 'Regresar', tipo_usuarios_path %>
