<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @programa_posgrado_registro.nombre %>
</p>

<%= link_to 'Editar', edit_programa_posgrado_registro_path(@programa_posgrado_registro) %> |
<%= link_to 'Back', programa_posgrado_registros_path %>
