<h1>New Recursamiento Otra Unidad Registro</h1>

<%= render 'form', recursamiento_otra_unidad_registro: @recursamiento_otra_unidad_registro %>

<%= link_to 'Back', recursamiento_otra_unidad_registros_path %>
