<h1>New Examen Obtencion Grado Registro</h1>

<%= render 'form', examen_obtencion_grado_registro: @examen_obtencion_grado_registro %>

<%= link_to 'Regresar', examen_obtencion_grado_registros_path %>
