<h1>Editing Segundo Director Tesis Registro</h1>

<%= render 'form', segundo_director_tesis_registro: @segundo_director_tesis_registro %>

<%= link_to 'Mostrar', @segundo_director_tesis_registro %> |
<%= link_to 'Back', segundo_director_tesis_registros_path %>
