<h1>New Segundo Director Tesis Registro</h1>

<%= render 'form', segundo_director_tesis_registro: @segundo_director_tesis_registro %>

<%= link_to 'Regresar', segundo_director_tesis_registros_path %>
