

<p>
  <strong>Nombre:</strong>
  <%= @segundo_director_tesis_registro.nombre %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @segundo_director_tesis_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_segundo_director_tesis_registro_path(@segundo_director_tesis_registro) %> |
<%= link_to 'Regresar', segundo_director_tesis_registros_path %>
