<h1>Editing Solicitud Abierta Registro</h1>

<%= render 'form', solicitud_abierta_registro: @solicitud_abierta_registro %>

<%= link_to 'Mostrar', @solicitud_abierta_registro %> |
<%= link_to 'Regresar', solicitud_abierta_registros_path %>
