<%= form.fields_for :cambio_director_tesis_registros do |cambio_director_tesis_registros_form| %>
  <div class="form-group col-sm-3">
    <%= cambio_director_tesis_registros_form.label :nombre %>
    <%= cambio_director_tesis_registros_form.text_field :nombre, class: 'form-control' %>
  </div>
<% end %>
