<%= form.fields_for :director_tesis_registros do |director_tesis_registros_form| %>
  <div class="form-group col-sm-3">
    <%= director_tesis_registros_form.label :nombre %>
    <%= director_tesis_registros_form.text_field :nombre, class: 'form-control' %>
  </div>
<% end %>
