<h1>Editing Asignatura Registro</h1>

<%= render 'form', asignatura_registro: @asignatura_registro %>

<%= link_to 'Mostrar', @asignatura_registro %> |
<%= link_to 'Regresar', asignatura_registros_path %>
