

<p>
  <strong>Motivacion:</strong>
  <%= @ampliacion_semestre_registro.motivacion %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @ampliacion_semestre_registro.caso_id %>
</p>

<%= link_to 'Editar', edit_ampliacion_semestre_registro_path(@ampliacion_semestre_registro) %> |
<%= link_to 'Regresar', ampliacion_semestre_registros_path %>
