// Place all the styles related to the cambio_director_tesis_registros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
