<h1>Editing Flexibilidad Academica Registro</h1>

<%= render 'form', flexibilidad_academica_registro: @flexibilidad_academica_registro %>

<%= link_to 'Mostrar', @flexibilidad_academica_registro %> |
<%= link_to 'Back', flexibilidad_academica_registros_path %>
