<h1>New Flexibilidad Academica Registro</h1>

<%= render 'form', flexibilidad_academica_registro: @flexibilidad_academica_registro %>

<%= link_to 'Regresar', flexibilidad_academica_registros_path %>
