<h1>Editing Director Tesis Registro</h1>

<%= render 'form', director_tesis_registro: @director_tesis_registro %>

<%= link_to 'Show', @director_tesis_registro %> |
<%= link_to 'Back', director_tesis_registros_path %>
