<h1>Editing Baja Asignatura Registro</h1>

<%= render 'form', baja_asignatura_registro: @baja_asignatura_registro %>

<%= link_to 'Mostrar', @baja_asignatura_registro %> |
<%= link_to 'Regresar', baja_asignatura_registros_path %>
