<h1>Editing Cambio Maestria Doctorado Registro</h1>

<%= render 'form', cambio_maestria_doctorado_registro: @cambio_maestria_doctorado_registro %>

<%= link_to 'Mostrar', @cambio_maestria_doctorado_registro %> |
<%= link_to 'Regresar', cambio_maestria_doctorado_registros_path %>
