<h1>New Cambio Maestria Doctorado Registro</h1>

<%= render 'form', cambio_maestria_doctorado_registro: @cambio_maestria_doctorado_registro %>

<%= link_to 'Regresar', cambio_maestria_doctorado_registros_path %>
