<h1>New Cursar Unidad Aprendizaje Externa Registro</h1>

<%= render 'form', cursar_unidad_aprendizaje_externa_registro: @cursar_unidad_aprendizaje_externa_registro %>

<%= link_to 'Regresar', cursar_unidad_aprendizaje_externa_registros_path %>
